@inherits MudComponentBase

<MudStack Spacing="2" Class="@Class">
  <section>
    <MudStack Row="@true" Spacing="2" AlignItems="AlignItems.Center">
      <MudText Typo="Typo.h5">Mod editor</MudText>
      <MudText Typo="Typo.body1" Style="opacity: 75%">&bull;</MudText>
      <MudText Typo="Typo.body1" Style="opacity: 75%">@(ModConfigs.Count) mod@(ModConfigs.Count != 1 ? "s" : "")</MudText>
    </MudStack>

    <MudGrid Class="mt-1">
      <MudItem xs="12" md="6">
        <EditModCard ModSelectionChanged="@ModSelectionChanged"/>
      </MudItem>

      <MudItem xs="12" md="6">
        <EditModVersionCard ModId="@ModId"/>
      </MudItem>
    </MudGrid>
  </section>
</MudStack>
