@page "/"
@page "/manage"
@inherits MudComponentBase

<div class="mt-1">
  <GameCardsComponent GameChanged="@OnGameChanged"/>

  <MudGrid Class="mt-4" Spacing="3">
    <MudItem xs="12" Class="pb-0">
      <GameActionsComponent GameId="@GameId" ProfileChanged="@OnProfileChanged"/>
    </MudItem>
    
    <MudItem xs="12">
      <GameTabsView GameId="@GameId" ProfileId="@ProfileId" PanelStyle="height: 20rem"/>
    </MudItem>
    
    <MudGrid Class="mt-1">
      @foreach (var (launchId, launchConfig) in GameConfig.LaunchOptions)
      {
        <MudItem xs="12" md="6">
          <LaunchArgumentCard
            GameId="@GameId"
            ProfileId="@ProfileId"
            LaunchId="@launchId"
            LaunchOptionConfig="@launchConfig"
          />
        </MudItem>
      }
    </MudGrid>
  </MudGrid>
</div>
